---
import Layout from '../../layouts/Layout.astro';
import ArisaMakesLogo from '../../assets/icon_234.png';
import WatchCakeDarkTeal from '../../assets/3.0cake+darkteal.png';
import WatchRowCounterList from '../../assets/3.0rowcounterlist.png';
import WatchCrochetHankPinkSetting from '../../assets/3.0crochethank+pinksettings.png';
import WatchCrochetHankPinkDetail from '../../assets/3.0crochethank+pinkdetail.png';
import WatchSweaterDarktealIconSetting from '../../assets/3.0sweater+darkteal+iconsetting.png';
---

<Layout title="Apple Watch Row Counter">
  <div class="bg-gray-50">
    <div class="text-center text-2xl m-auto px-5 md:max-w-2xl py-5">
      <h1 class="text-4xl font-extrabold my-8">ArisaMakes Row Counter App</h1>
      <img
        alt="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
        title="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
        class="relative mx-auto h-40 rounded-full object-cover"
        decoding="auto"
        src={ArisaMakesLogo.src}
        loading="lazy"
      />
      <p class="pb-4 pt-4">
        Use this simple row counter right on your Apple Watch while you're
        crocheting or knitting!
      </p>

      <a
        href="https://apps.apple.com/us/app/arisamakes-row-counter/id1598992914?itsct=apps_box_badge&itscg=30200"
        class="my-6 hover:shadow-xl"
        style="
        display: inline-block;
        overflow: hidden;
        border-radius: 13px;
        width: 250px;
        height: 83px;
      "
      >
        <img
          src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&releaseDate=1643760000"
          alt="Download on the App Store"
          style="border-radius: 13px; width: 250px; height: 83px"
        /></a
      >

      <div
        class="bg-(--color-blush)/50 text-xl rounded-lg mx-25 px-4 py-3 text-center"
      >
        <p class="pl-10 font-bold">Update 3.0 is now available!</p>
      </div>

      <h3
        class="my-8 flex justify-center text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-3xl sm:leading-9"
      >
        Screenshots
      </h3>

      <div class="flex flex-wrap">
        <img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-[8vw] lg:rounded-[2vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchCakeDarkTeal.src}
          loading="lazy"
        />

        <img
          alt="ArisaMakes Apple Watch Row Counter Screenshot of Counter List"
          title="ArisaMakes Apple Watch Row Counter Screenshot of Counter List"
          class="mt-5 mx-auto max-h-70 rounded-[8vw] lg:rounded-[2vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchRowCounterList.src}
          loading="lazy"
        />

        <img
          alt="ArisaMakes Apple Watch Row Counter Screenshot of Settings"
          title="ArisaMakes Apple Watch Row Counter Screenshot of Settings"
          class="mt-5 mx-auto max-h-70 rounded-[8vw] lg:rounded-[2vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchCrochetHankPinkSetting.src}
          loading="lazy"
        />

        <img
          alt="ArisaMakes Apple Watch Row Counter Screenshot of Details"
          title="ArisaMakes Apple Watch Row Counter Screenshot of Details"
          class="mt-5 mx-auto max-h-70 rounded-[8vw] lg:rounded-[2vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchCrochetHankPinkDetail.src}
          loading="lazy"
        />

        <img
          alt="ArisaMakes Apple Watch Row Counter Screenshot of Icon Setting"
          title="ArisaMakes Apple Watch Row Counter Screenshot of Icon Setting"
          class="mt-5 mx-auto max-h-70 rounded-[8vw] lg:rounded-[2vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchSweaterDarktealIconSetting.src}
          loading="lazy"
        />
      </div>

      <div class="mx-10 mt-10 text-xl">
        <p class="py-4">
          A simple row counter right on your Apple Watch for your crochet and
          knit projects!
        </p>
        <p>
          <strong>Features include:</strong>
        </p>
        <ul class="mt-4 ml-15 text-xl list-disc list-inside">
          <li>
            <strong>Multiple Row Counters</strong>: Create up to 10 row counters
            to track multiple projects!
          </li>
          <li>
            <strong>Track Row Repeats</strong>: Automatically reset the counter
            on a specific row to track repeats. Helpful for when following a
            repeating pattern!
          </li>
          <li>
            <strong>Customizable Counter</strong>: Customize your row counter
            with 6 hand-drawn icons and 5 background colors.
          </li>
          <li>
            <strong>Save History</strong>: Tracks every increase or decrease on
            the counter with the date and time. You can tap the entry to
            rollback to a previous save!
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
